# ==========================================
# Python / Virtual Environments
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
venv/
env/
.venv/
.env

# ==========================================
# Apache Airflow
# ==========================================
airflow-webserver.pid
airflow.db
airflow.cfg
unittests.cfg
logs/
*-run/

# ==========================================
# Apache Spark
# ==========================================
spark-warehouse/
derby.log
metastore_db/

# ==========================================
# Google Cloud / Security / Credentials
# ==========================================
# VERY IMPORTANT: Never push your GCP Service Account keys!
*.json
*.pem
secrets/
credentials/

# ==========================================
# IDEs and OS Files
# ==========================================
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# ==========================================
# Local Recordings (Large video files)
# ==========================================
03_Recordings/
*.mp4
*.mkv
*.mov